.current{
    display:none;
}

.stats{
    position:absolute;
    top:0;
    bottom:40px;
    left:0;
    right:0;
}
body > footer{
    position:absolute;
    bottom:0;
    height:40px;
    left:0;
    right:0;
    padding:0;
}