@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Aldrich);


html, body{
    color: white;
    font-size: 20px;
    font-family: Arial;
    height:100%;
    background: #222;
    text-align: center;
    padding:0;
    margin:0;
}

section {
    max-width: 800px;
    margin: auto;
}

h1 {
    font-family: "Pathway Gothic One";
    font-size: 35px;
    font-weight: normal;
}
h2 {
    font-family: "Pathway Gothic One";
    font-size: 50px;
    color: #ccc;
    font-weight: normal;
    padding: 15px;
    margin: 30px auto;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    max-width: 500px;
}


a{
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

em {
    padding-right: 0.1em;
}

.count{
    font-family: "Aldrich";
    display:block;
    text-shadow: 0 0 30px rgb(150,255,100);
    font-size: 150px;
    color: white;
    padding-top: 20px;
}
.rate{
    padding-top: 20px;
    font-family: "Aldrich";
    font-size: 60px;
    display:block;
    line-height: 150px;
    -webkit-transition: all 5s ease-out;
}
.results{
    padding:20px;
    height:380px;
    color: white;
}
.current{
    margin:20px 0;
}

.stats {
    border-top: 1px solid #000;
    border-bottom: 1px solid #333;
    background: #111;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}
.stats .sponsor {
    font-size: 11px;
    color: #999;
    position: absolute;
    left: 10px;
    top: 30px;
}
.stats .sponsor img {
    margin-top: 5px;
}

.graphContainer{
    margin:20px auto;
    max-width: 600px;
}
.changeLogo{
    background-image: url(http://d22r54gnmuhwmk.cloudfront.net/app-assets/wordmarks-s01bec25c51-e5eea4f1e4abb52f94dc17cb5b1ceeab.png);
    background-position: 0 -286px;
    width:116px;
    height:23px;
    display:inline-block;
    margin:5px;
    vertical-align: middle;
}

.toolbar {
    padding: 20px 0;
}
a.button {
    background: #900;
    padding: 12px 24px;
    border-radius: 4px;
    border-bottom: 2px solid #600;
    font-size: 24px;
}
a.button:hover {
    text-decoration: none;
    background: #a00;
}

body > footer {
    background: #222;
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    padding: 15px;
    color: #ccc;
    line-height: 26px;
}
body > footer a {
    text-decoration: underline;
    color: #ccc;
}
body > footer .sponsor { 
    margin-top: 10px;
}