.count{
    font-family: "Aldrich";
    display:inline;
    text-shadow: 0 0 30px rgb(150,255,100);
    font-size: 30px;
    color: white;
    padding-top: 10px;
}
.rateWrapper{
    display:none;
}
.results{
    padding:0;
    height:auto;
}
.current{
    margin:0;
}
.stats{
    margin:0;
}
.graphContainer{
    margin:0px;
    max-width: none;
}